@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --font-general : 'Montserrat', sans-serif;
    --tebal:600;
}
*{
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    margin: 0;
}

body{

    font-family: var(--font-general);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

/* style profile */

header{
    margin-bottom: 40px;
}
.heading{
    font-weight: var(--tebal);
    font-size:50px;
    color: rgba(78, 81, 80, 1);

    text-align: center;
    margin-bottom: 24px;

}

.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.profile p{
    /* margin-top: 10px; */
}

.profile .name{
    font-weight: var(--tebal);
    font-size:24px;
    color: rgba(78, 81, 80, 1);

}

.profile .address{
    font-weight: var(--tebal);
    font-size: 14px;
    color: rgba(169, 169, 169, 1);

}

.profile .photo-profile{
    max-width:160px;
    border-radius: 20px;
}

.info{
    display: flex;
    justify-content: center;
}

.card{

    background: rgba(229, 229, 229, 1);
    border-radius: 10px;
    width: 110px;
    text-align: center;

    padding: 8px;
    margin: 30px 0px 0px 30px;
}

.card:first-child{
    margin-left: 0;
}

.card .title{
    color: rgba(78, 81, 80, 1);
    font-size: 15px;
    font-weight: var(--tebal);
}

.card .number{
    color: rgba(189, 189, 189, 1);
    font-size: 14px;
    font-weight: var(--tebal);
}

.section-name{
    font-family: var(--font-general);
    font-weight: var(--tebal);
    font-size: 30px;
    color: rgba(78, 81, 80, 1);
    margin:24px 0;
}


/* style content */

.website{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1em;
    row-gap: 2em;
    margin-bottom: 100px;
}

.card-website{
    /* display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1em;
    row-gap: 2em; */
}

::-webkit-scrollbar{
    background-color: white;
    height: 70%;
    border-radius: 10px;
    border: 1px solid #bdbdbd;

}

::-webkit-scrollbar-thumb{
    background-color: #bdbdbd;
    border-radius: 10px;
}

.website .photo{
    /* border-left: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd; */
    border:1px solid #bdbdbd;
    border-radius: 12px;
    width: 100%;
    /* padding: 1em; */
    overflow: hidden;
    height: 55vh;
    overflow: auto;
    /* background-color: #f2f2f2; */
}

.website .photo img{
    width: 100%;
    
}

.website .photo-1{
    grid-column: 1/span 6;
}

.website .photo-2{
    grid-column: 7/span 12;
}

.website .photo-5{
    grid-column: 1/span 6;
    grid-row: 2;
}

.website .photo-6{
    grid-column: 7/span 12;
    grid-row: 2/span 3;
   
}

.website .photo-3{
    grid-row: 3;
    grid-column: 1/span 6;
}

.website .photo-4{
    grid-row: 3;
    grid-column: 7/span 12;
}

.website .button-demo{
    background-color: #0090d7;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 80px;
    margin-top: 12px;
    
}

.website .button-demo a{
    text-decoration: none;
    font-family: var(--font-general);
    color: white;
    
}

/* style for design */

.image-design{
    /* transform: translatex(-150%); */
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1em;
    row-gap: 2em;
    background-color: #f2f2f2;

    /* display: none; */
}
.image-design .photo{
    /* border-left: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd; */
    border:1px solid #bdbdbd;
    border-radius: 12px;
    width: 100%;
    /* padding: 1em; */
    overflow: hidden;
    height: 55vh;
    overflow: auto;
    /* background-color: #f2f2f2; */
}

.image-design .photo img{
    width: 100%;
    
}

.image-design .photo-1{
    grid-column: 1/span 6;
}

.image-design .photo-2{
    grid-column: 7/span 12;
}

.image-design .photo-5{
    grid-column: 1/span 6;
    grid-row: 2;
}

.image-design .photo-6{
    grid-column: 7/span 12;
    grid-row: 2/span 3;
   
}

.image-design .photo-3{
    grid-row: 3;
    grid-column: 1/span 6;
}

.image-design .photo-4{
    grid-row: 3;
    grid-column: 7/span 12;
}

 




footer{
    color: rgba(169, 169, 169, 1);
    font-size: 14px;
    font-weight: var(--tebal);
    text-align: center;
}

/* @media (max-width:720px){
    .wd{
        width: 150px;
    }

    .hg{
        height: 150px;
    }
} */